---
import ArrowLInk from "@components/ArrowLink.astro";
import Heading from "@components/Heading.astro";
import Link from "@components/Link.astro";
import type { Project } from "src/content.config";
import Image from "./Image.astro";

type Props = {
  project: Project
}

const { project } = Astro.props
---

<article>
  <div class="image">
    <Image
      src={project.data.images.thumbnail.src}
      alt={project.data.images.thumbnail.alt}
    />
  </div>
  <Heading element="h3">
    <Link href={`/projects/${project.id}/`}>
      {project.data.title}
    </Link>
  </Heading>
  <p class="description">{project.data.description}</p>
  <div class="actions">
    <ArrowLInk href={`/projects/${project.id}/`}>
      View <span class="sr-only">{project.data.title}</span> Project
    </ArrowLInk>
  </div>
</article>

<style>
  .image {
    margin-bottom: 1.5rem;
  }

  .description {
    margin-top: var(--spacing--sm);
    text-wrap: balance;
  }

  .actions {
    margin-top: var(--spacing--xs);
  }
</style>
